{{!-- single post view --}}
<div class="text-center">
  <h2>{{title}}</h2>
    <p>{{content}}</p>
  <p>Created by {{user.username}} on {{format_date createdAt}}</p>
  <p>
    
    <span class="form-textarea form-input">{{post.content}}</span>
   
  </p>
    <button class="btn btn-primary" type="submit">EDIT</button>
    <input type="hidden" name="post-id" value="{{post.id}}"/>
  </form>
  <div class="card-body">
   <button class="btn btn-primary" type="submit" id="delete-btn">DELETE</button>
  </div> 
</div>
<script src="/js/edit.js"></script>